.DS_Store
._.DS_Store

venv/
__pycache__/

# front-end
gui/node_modules/

# back-end
api/static/embeddings/*
api/static/images/*

# weights
api/weights/sam/*
api/weights/sd/*.ckpt
api/weights/sd/*.safetensors
api/weights/sd/difussers/*

# data
api/infra/database/data.db

# plugins
api/plugins/

scripts/*.sh